@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
    background-image: url(../img/home.jpg);
    background-size: cover;
    position: relative;
}
body::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}
.container {
    color: aliceblue;
}
#governorates {
    background: none !important;
    color: white;
    text-align: center;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
}
#governorates option {
    background-color: black;
}

.fa-mosque{
    color: lightseagreen;
}
.box{
    border: 1px solid hsla(177, 70%, 41%, 0.300);
    border-radius: 10px;
    margin-bottom: 20px;
}
.box .text {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}
.box .timming {
    background-color: hsla(177, 70%, 41%, 0.300);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}